<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body tabindex="-1">
  
  <%- include('partials/navbar',{page: ''}) %>
  
    <div class="container mx-auto">
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content text-center">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold">About Me!</h1>
                <p class="py-6">Hello my name is <b>Harry Sanil</b> and i am currently studying at Seneca college</p>
              </div>
            </div>
        </div>

        <div class="grid grid-cols-2">
            <div class="">
              <div class="card w-100 bg-base-200 shadow-xl">
                <figure>
                  <img class="w-full" src="https://imgs.search.brave.com/WJCZH_ZbOX9q5ywr1Lmpgg9FJalpMp5IMoFtJPErUGA/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pY2hl/Zi5iYmNpLmNvLnVr/L25ld3MvMTAyNC9j/cHNwcm9kcGIvODM3/MC9wcm9kdWN0aW9u/L18xMDM2ODQ2MzNf/NWYwYzJmMTAtYjEz/NS00MTU5LTgwZGYt/OGI2ODVlYmU4MDA1/LmpwZw" alt="legoset" />
                </figure>
              </div>
            </div>  
            <div class="">
              <div class="card w-100 h-100 bg-base-100 shadow-xl" style="height: 430px;">
                <div class="card-body">
                  <h2 class="card-title">My hobbies</h2>
                  <ul>
                    <li>Watching Football</li>
                    <li>Traveling</li>
                    <li>Gym</li>
                  </ul>
                 <p>This is from the movie Fight Club <b></b>"Which is a movie that inspires me"</p>
                </div>
              </div>
            </div>
        </div>

    </div>

</body>
</html>